package {{.ServiceName | camelcase | lower}}

import (
	"github.com/ElegantSoft/go-restful-generator/crud"
	"{{.PackageName}}/db"
	"{{.PackageName}}/db/models"
)

type model = models.{{.ServiceName | camelcase | title}}

type Repository struct {
	crud.Repository[model]
}

func InitRepository() *Repository {
	return &Repository{
		Repository: crud.Repository[model]{
			DB:    db.DB,
			Model: &model{},
		},
	}
}
